main{
    position: relative;
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.container-produtos-mais-estoque{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 90%;
    box-shadow: 0px 0px 10px var(--cor-led);
}

.container-fluxo-de-caixa{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    width: 50%;
    height: 90%;
    box-shadow: 0px 0px 10px var(--cor-led);
    margin: 0 30px;
}

.container-fluxo-de-caixa h2{
    color: white;
    font-size: 1rem;
}

.ajustar-fluxo-de-caixa{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.texto-gastos, .texto-vendas{
    color: white;
    font-size: 0.7rem;
    width: 90%;
    text-align: left;
}

.texto-lucro{
    color: white;
    font-size: 1.5rem;
}

.container-produtos-mais-vendidos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 90%;
    box-shadow: 0px 0px 10px var(--cor-led);
}

@media (max-width: 1044px) {
    .container-produtos-mais-estoque{
        height: 60%;
    }
    
    .container-fluxo-de-caixa{
        height: 60%;
    }
    
    .container-produtos-mais-vendidos{
        height: 60%;
    }
}

@media (max-width: 648px) {
    main{
        flex-direction: column;
    }

    .container-produtos-mais-estoque{
        height: 40%;
        width: 90%;
    }
    
    .container-fluxo-de-caixa{
        height: 40%;
        width: 90%;
        margin: 30px 0;
    }
    
    .container-produtos-mais-vendidos{
        height: 40%;
        width: 90%;
    }
}