@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-fundo: #030003;
    --cor-led: #FF9FF5;
}

html{
    font-size: 62.5px;
    font-family: "League Spartan", sans-serif;
}