.mensagem {
    position: fixed;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    background-color: var(--cor-fundo);
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    z-index: 99;
    bottom: 5%;
    font-size: 0.5rem;
  }
    
.show {
    visibility: visible;
    animation: fadein 1s, fadeout 1s 2s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}