.ajustar-tabela{
    position: relative;
    width: 80%;
    height: 90%;
    background-color: white;
    box-shadow: 0px 0px 20px var(--cor-led);
    color: black;
    font-size: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 30px;
    border-radius: 15px;
    overflow-y: scroll;
}

.ajustar-tabela::-webkit-scrollbar{
    width: 10px;
}

.ajustar-tabela::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
.ajustar-tabela::-webkit-scrollbar-thumb {
    background: var(--cor-led); 
    border-radius: 10px;
}

table{
    position: relative;
    color: black;
    width: 100%;
    font-size: 0.5rem;
    align-items: center;
    justify-content: flex-start;
}

th, td{
    text-align: center;
}

td button{
    width: 70px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--cor-led);
    transition: .5s;
    margin: 0 5px;
    font-weight: bold;
}

td button:hover{
    transform: scale(110%);
    color: var(--cor-led);
}

.criar-botao{
    width: 200px;
    height: 50px;
    border: 0;
    font-size: 0.8rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--cor-led);
    margin-top: 25px;
    transition: .5s;
    font-weight: bold;
}

.criar-botao:hover{
    transform: scale(110%);
    color: var(--cor-led);
}

@media (max-width: 1308px){
    table{
        font-size: 0.3rem;
    }

    td button{
        font-size: 0.1rem;
        height: 20px;
    }
}

@media (max-width: 988px){
    table{
        font-size: 0.15rem;
    }

    td button{
        width: 30px;
        height: 15px;
        font-size: 0.1rem;
    }
}